<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BF2statisticsLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <BF2statisticsLauncher.Properties.Settings>
            <setting name="LastStatsServerAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastLoginServerAddress" serializeAs="String">
                <value/>
            </setting>
          <setting name="LastMasterServerAddress" serializeAs="String">
            <value/>
          </setting>
        </BF2statisticsLauncher.Properties.Settings>
    </userSettings>
</configuration>
